/* For TopNavBar */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.topNavBar{
    position: fixed;
    background-color: black;
    top: 0px;
    width: 100%;
}
.topNavBar a{
    float: left;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
}
.topNavBar a:hover{
    background-color: white;
    color: black;
}
a.selected{
    background-color: green;
    color: white;
}

/* Sub Nav Bar */
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown:hover .dropbutton{
    background: blue;
}
.dropbutton{
    font-size: 17px;
    color: white;
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    background-color: inherit;
    font-family: inherit;
}
.dropbutton:hover{
    background-color: white;
    color: black;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    float: none;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown-content a.selected:hover {
    background-color: green;
    color: white;
}
.dropdown:hover .dropdown-content{
    display: block;
}
/* <!-- Mainbody Title with pic background --> */
.titleWithPic{
    background: url(image/Screenshot\ \(432\).png);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    text-align: center;
    height: 800px;
}
.someText h1{
    font-size: 50px;
}
.someText p{
    font-size: 25px;
    margin-top: -30px;
}
/* 3 column body */
.firstMainContainer{
    display: flex;
    justify-content: center;
}
.firstContainer{
    list-style-type: none;
    margin: 20px;
    padding: 0;
    background-color: goldenrod;
    width: 60%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.firstContainerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 3em 0.5em;
    padding: 0.5em;
    text-align: justify;
    background-color: gold;
}
.firstContainerContent img{
    width: 100%;
    height: auto;
}
.firstContainerContent h1{
    text-align: center;
}
.firstContainerContent button{
    width: 60%;
    height: 40px;
    margin: 0.5em 0;
    padding: 4px;
    background-color: green;
    border: none;
    outline: none;
}
/* 2 column boody */
.secondMainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}
.secondContainer{
    margin: 1em;
    width: 47%;
    height: auto;
    text-align: justify;
    background-color: burlywood;
}
.secondContainerText{
    background-color: grey;
    margin: 0;
}
.secondContainer h3{
    text-align: center;
}
.secondContainer p{
    margin: 1em;
}
.secondContainer img{
    width: 100%;
    height: 60%;
}
/* thirdMainContainer */
.thirdMainContainer{
    margin: 4em 0em;
    background: url(image/Screenshot\ \(432\).png);
    background-attachment: fixed;
    height: 600px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirdContainer{
    text-align: justify;
    width: 60%;
}
.thirdContainer h1{
    text-align: center;
}
/* fourthMainContainer */
.fourthMainContainer{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourColumnContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    text-align: justify;
}
.fourColumnContainer h3{
    text-align: center;
}
.fourColumnContainerColumn{
    width: 22%;
    background-color: tomato;
}
.fourColumnContainerColumn img{
    width: 100%;
}
.fourColumnContainerColumn p{
    padding: 0 1em;
}
/* fifthMainContainer */
.fifthMainContainer{
    margin: 2em;
    background-color: palegoldenrod;
}
.oneText{
    margin: 1em 1em;
    padding: 1em;
    text-align: justify;
}
.oneColumnContainer img{
    width: 100%;
}
/* Contact us */
.contactMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    background: url(image/Screenshot\ \(432\).png);
    background-attachment: fixed;
}
.contactContainer{
    text-align: center;
    width: 50%;
}
.informationMessage{
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.information input{
    margin: 0.5em 1em;
    border: none;
    padding: 0.5em;
}
.message{
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.message textarea{
    border: none;
    outline: none;
    height: 90%;
    padding: 0.5em;
}
.contactContainer button{
    border: none;
    outline: none;
    padding: 0.5em 2em;
    background-color: lightcoral;
}
/* footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}